header {
  background-color: #ff8052;
  height: 95px;
}
h1 {
  color: #fff;
  font-size: 1rem;
  text-align: center;
  position: relative;
  top: 45px;
}
main {
  padding: 15px;
}
h2,
p,
input,
select {
  font-size: 0.9rem;
  line-height: 80px;
}
h2 {
  color: #ff8052;
  margin-left: 20px;
}
input {
  margin: 25px 27px 0 auto;
  padding: 10px;
  width: 78px;
  height: 30px;
  font-weight: bold;
}
input[type="date"] {
  width: 140px;
}
select {
  margin: 0 4px 0 auto;
  font-weight: bold;
}
.non > select {
  margin-right: 40px;
}
.select {
  width: 360px;
  height: 80px;
  border-bottom: 1px solid #ff8052;
  margin: auto;
  display: flex;
}
.select:first-child {
  margin-top: 10px;
}
.non {
  border: none;
}
.memo {
  width: 360px;
  height: 280px;
  border: 1px solid #ff8052;
  border-radius: 5px;
  margin: auto;
  h2 {
    line-height: 50px;
  }
}
.btn {
  background-color: #ff8052;
  text-align: center;
  width: 120px;
  height: 35px;
  margin: 30px auto 10px;
  border-radius: 5px;
  button {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    line-height: 35px;
  }
}
.no {
  text-align: center;
  button {
    color: #ff8052;
    font-size: 0.8rem;
  }
}
.memo > textarea {
  width: 330px;
  height: 200px;
  margin: 0 0 0 15px;
  font-weight: bold;
  resize: none;
}
img {
  position: absolute;
  bottom: -160px;
  right: 20px;
}
